.navbar-collapse, .container-fluid {
	background-color: white;
	color: black;
	font-size: 13px;
	text-transform: capitalize;
	font-style: italic;
	font-weight: bold;
}

.commandLink {
	border: 1px solid white;
	text-align: center !important;
}

.nombre {
	font-size: 22px !important;
	color: red !important;
}

.commandLink:hover {
	background-color: gray !important;
	color: white !important;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
}

.dropdown-menu {
	padding: 5px;
}

.footer {
	width: 100%;
}

.footer-container {
	width: 100%;
	background: #272727;
	color: #fff;
}

.footer-main {
	width: 98%;
	max-width: 1000px;
	margin: auto;
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
}

.footer-main .footer-columna {
	width: calc(100%/ 3);
	text-align: justify;
}

.footer-main .footer-columna:nth-child(2) {
	padding: 0 20px;
}

.footer-main .footer-columna .h3 {
	font-size: 32px;
	color: #00C6EE;
	margin-bottom: 20px;
}

.footer-main .footer-columna .email {
	border: none;
	width: 100%;
	border: 0px !important;
	border-bottom: 2px solid white !important;
	border-radius: 15px;
	font-size: 14px;
	padding: 10px;
	width: 90%;
	display: block;
	margin: auto;
}

.footer-main .footer-columna .email:focus {
	border-bottom: 2px solid #00C6EE !important;
}

.footer-columna .fa {
	color: #00C6EE;
}

.footer-columna .informacion {
	width: 95%;
	margin: auto;
	margin-bottom: 10px;
}

.footer-main .footer-columna .submit {
	border: none;
	background: #00C6EE;
	color: #fff;
	padding: 10px 40px;
	font-size: 18px;
	margin-top: 10px;
	cursor: pointer;
	display: block;
	margin: 10px auto;
}

.footer-main .footer-columna .span .p {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 15px;
	color: white;
}

.footer-copy-redes {
	width: 100%;
	background: #000;
	border-top: 3px solid #fff;
}

.main-copy-redes {
	width: 98%;
	max-width: 1000px;
	padding: 15px 0;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.main-copy-redes .footer-copy {
	width: 70%;
	color: #fff;
}

.main-copy-redes .footer-redes {
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main-copy-redes .footer-redes .red {
	display: inline-block;
	text-decoration: none;
	width: 40px;
	height: 40px;
	margin-left: 5px;
	line-height: 40px;
	border-radius: 50%;
	background: #fff;
	color: #000;
	text-align: center;
}

.main-copy-redes .footer-redes .red:focus{
	outline: none;
}

.footer-template {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,.5);
	color: white;
	padding: 15px;
	text-align: center;
}

.main-copy-redes .footer-redes .red:hover {
	background-color: red;
	color: white;
}

@media screen and (max-width: 1440px) {
	.navbar-collapse, .container-fluid {
		font-size: 14px;
	}
}

@media screen and (max-width: 1364px) {
	.navbar-collapse, .container-fluid {
		font-size: 13px;
	}
}

@media screen and (max-width: 1364px) {
	.navbar-collapse, .container-fluid {
		font-size: 13px;
	}
}

@media screen and (max-width: 750px) {
	.info-main {
		padding: 30px 100px;
	}
	.footer-main .footer-columna {
		padding: 0 10px;
	}
	.footer-main .footer-columna h3 {
		font-size: 28px;
	}
	.footer-main .footer-columna p {
		font-size: 14px;
	}
}

@media screen and (max-width: 640px) {
	.footer-main {
		padding: 10px 0;
	}
	.footer-main .footer-columna {
		width: 100%;
		text-align: center;
		margin: 10px 0;
	}
	.footer-main .footer-columna .h3 {
		margin-bottom: 5px;
	}
	.footer-main .footer-columna .span {
		display: block;
	}
	.main-copy-redes .footer-copy {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.main-copy-redes .footer-redes {
		width: 80%;
		margin: auto;
		justify-content: center;
	}
}